<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NODE_ENV" value="production" />
    <add key="DATABASE_URL=postgres://postgres:Post1405evlog@localhost:5432/postgres" />
    <add key="JWT_SECRET" value="aWwVujZAZyGA4Xbq6oJTxYm9v8BA6Xt7uVhhvLHjTUN" />
    <add key="GEMINI_API_KEY" value="MY_GEMINI_API_KEY" />
    <add key="APP_URL" value="http://172.24.0.130" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist\server.cjs" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="dist\server.cjs"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      watchedFiles="web.config;*.js" 
      nodeProcessCountPerApplication="1"
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      loggingEnabled="true"
      logDirectory="iisnode"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>